<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" datadismiss="modal" aria-hidden="true">&times;</button>
    <h1>Add a Survey</h1>
</div>
<div class="modal-body">
    <label>Survey Title</label>
    <input type="text" ng-model="currentSurvey.title" />




    <div ui-sortable ng-model="currentSurvey.questions">
        <div ng-repeat="question in currentSurvey.questions" class="sortable">
            <label>Question</label>
            <input type="text" ng-model="question.title">
            <div ui-sortable ng-model="question.answers">
                <div ng-repeat="answer in question.answers">                    
                    <input type="text" ng-model="answer.text" />
                    <i class="fa fa-plus" ng-click="addAnswerAfter(question,answer)"></i> 
                    <i class="fa fa-times" ng-click="removeThisAnswer(question,answer)"></i> 
                    <span data-file-upload="options">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add Image...</span>
                            <input type="file" name="files[]" ng-disabled="disabled">
                        </span>
                        <span class="preview" data-file-upload-preview="answer.data.files[0]" ng-if="!!answer.data.files[0]">
                        </span>
                        <img ng-src="{{'images/'+answer.imgname}}" ng-if="!answer.data.files[0]&&!!answer.imgname"/>

                    </span>
                </div>
            </div>

            <input type="checkbox" ng-model="question.isMultipleAnswer" />More than one answer
            <input type="checkbox" ng-model="question.isDisplayImage" />Display image
        </div>

    </div>

    <button type="button" class="btn btn-success" ng-click="addNewQuestion()">Add New Question</button>
    <button type="button" class="btn btn-success" ng-click="save()">Save</button>




</div>
