<div>
    <div ng-repeat="question in currentSurvey.questions" ng-init="questionIndex = $index" ng-show="!!currentSurvey.isInSinglePage || questionIndex==data.currentStep">


        <h1>{{question.title}}</h1>

        <div class="row">
            <div ng-class="!!question.isDisplayImage?'col-md-4':'col-md-12'" ng-repeat="answer in question.answers" ng-init="answerIndex = $index">
                <img class="thumbnail" ng-src="{{surveyProvier.getAnswerImageUrl(answer)}}" ng-show="!!question.isDisplayImage">
                <input type="checkbox" ng-model="response[questionIndex][answerIndex]" value="{{answerIndex}}" ng-show="!!question.isMultipleAnswer" />
                <input type="radio" ng-model="response[questionIndex]" value="{{answerIndex}}" ng-show="!question.isMultipleAnswer" />{{answer.text}}
            </div>
        </div>


    </div>


    <div class="row">


        <button type="button" class="btn btn-success" ng-click="prev()" ng-disabled="data.currentStep==0" ng-show="!currentSurvey.isInSinglePage">prev</button>
        <button type="button" class="btn btn-success" ng-click="next()" ng-disabled="data.currentStep==currentSurvey.questions.length-1" ng-show="!currentSurvey.isInSinglePage">next</button>
        <button type="button" class="btn btn-success" ng-click="finish()">finish</button>
    </div>
</div>
